@font-face {
    font-family: 'Game of Thrones';
    src: url(../fonts/GameOfThrones.ttf) format('truetype');
}

body {
    margin: .5rem;
    background-image: url(../images/throne-room.jpg);
    font-family: 'Game of Thrones', 'Times New Roman', Times, serif;
}

h1 {
    color: #D4AF37;
    font-size: 5rem;
    margin: 1rem;
    text-align: center;
}

h2 {
    color: #D4AF37;
    font-size: 2rem;
    margin-top: 2rem;
}

img {
    height: 9.4rem;
    width: 15rem;
}

button {
    color: #111;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    margin-top: 2rem;
    border: 1px solid #111;
    font-weight: bold;
}

.attack { background-color: #B20000; }
#restart { background-color: #4169E1; }

.character {
    display: inline-block;
    vertical-align: top;
    height: 12.5rem;
    width: 19rem;
    text-align: center;
    line-height: 1;
    margin-top: 1rem;
}

.name { margin-top: .5rem; }

.hp {
    font-size: 1.3rem;
    margin-top: 0; 
}

.friendly,
.selected {
    background-color: whitesmoke;
    border: 3px solid green;
}

.enemy {
    background-color: #E60000;
    border: 4px solid #111;
}

.challenger {
    color: whitesmoke;
    background-color: #111;
    border: 3px solid green;
}

.challenger-div { 
    height: 13rem;
    width: 20rem;
}

.text-div {
    color: #D4AF37;
    margin-top: 1rem;
    line-height: 1.2;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
